:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(
      to right,
      hsl(187, 85%, 43%),
      hsl(199, 100%, 33%)
    );
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
    --cardHover: hsla(175, 29%, 44%, 0.657);
    --book: hsl(85, 85%, 45%);
  }

  .main{


    width:100%;

    .secTitle{
        .title{
            position: relative;
            width: max-content;
            color: var(--textColor);
            margin: 1rem 0;
            z-index: 2;

            &::after{
                position: absolute;
                content: '';
                background: var(--SecondaryColor);
                height:5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;

            }
        }
    }

.setContent{
    justify-content: center;
    gap: 1.5rem;

    .singleDestination{
        height: 100%;
        display: grid;
        row-gap:10px;
        border-radius: 10px;
        align-items: center;
        background: var(--cardBG);
        box-shadow: 0 2px 4px rgba(140,140,141,0.549);

        &:hover{
            background:var(--cardHover);
            box-shadow: 1 4px 4px rgba(85,85,114,0.549);
            transition: .3s ease;
        }

        .imageDiv{
            height: 100px;
            width: 100%;
            overflow: hidden;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }
            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
        }


        .cardInfo{

            padding: 1rem;

            display:grid;


            .destTitle{
                color:var(--blackColor);
                font-size:1.25rem;
            }
        

.continent{
    gap:.5rem;

    .icon{
        color: var(--textColor);
        font-size: 18px;
    }

    .name{
        color: var(--textColor);
        font-weight: 400;
        font-size: 14px;
    }
}

.fees{
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 1.5px solid var(--greyText);
    border-bottom: 1.5px solid var(--greyText);

    .grade{
        color: var(--textColor);
        max-width: 100px;
        line-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;


        small{
            text-align: center;
            background: var(--gradientColor);
            border-radius: 1rem;
            color: var(--whiteColor);
            padding: 1px 10px;
            font-size: 10px;
        }
    }

.price{
    font-size: 2rem;
    color: var(--blackColor);
}
}


.desc{
    font-size: 13.5px;
    color: var(--textColor);
    font-weight: 500;
}

.btn{
    margin-top: 1rem;
    color: var(--whiteColor);
    font-weight: 600;
    justify-content: space-between;
    gap: .5rem;
    display: flex;
    align-items: center;
    

    .icon{
        align-self: center;
        font-size: 18px;
    }
}


.book{
//    margin-left: auto;
   padding: 0.6rem 0.8rem;

    border-radius: 20px;

  background-color: var(--book);
  border-radius: 20px;
  border: transparent;
  position:relative;
//   bottom: 2.6rem;
  text-align: center;
  justify-content: center;
  margin: 1rem;

 
  
   

}
        
        }
    }
}


  }

  @media screen and (min-width: 500px){
    .title{
        font-size: 1.5rem;

        &::after{
            width: 155px !important;
        }
    }

    .setContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }

       
    }
  }
  @media screen and (min-width: 650px){

    .setContent{
       

        .singleDestination{
          
            width: 37vw;
        }

       
    }

}



  @media screen and (min-width: 994px) {
    .all{

        .setContent{
            grid-template-columns: repeat(3,1fr);
            
        
    
            .singleDestination{
                height: auto;
                width: 30vw;

            }
    
            .cardInfo{
                display: none;
    
                .desc{
                   p{
                    margin-bottom: 40px;
                   }
                }
    
    
    .btn{
    
       
       margin-bottom: 0px;
        justify-content: space-between;
    
        position: absolute;
     
    left: 15px;
    bottom: 1rem;
    opacity: 70%;
    
    
    
        
    }
    
    
    .book{
        position: absolute !important;
        display: grid;
        bottom: 0px;
        right: 0px;
       
    
    }
    
    
            }
        }  
    }
   
  }
